<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal website">
    <meta name="author" content="Jason Hu">
    <title>Jason Hu</title>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="css/app-20170226.min.css" rel="stylesheet">
    <link href="css/freelancer.css" rel="stylesheet">
    <link href="css/override.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   </head>
   <body id="page-top" class="index" ng-app="angularapp">
   <div id="main"></div>
      <!-- Navigation -->
      <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
           <!-- Brand and toggle get grouped for better mobile display -->
           <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              Menu <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand" href="#page-top">Jason Hu</a>
           </div>
           <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                 <li class="hidden">
                    <a href="#page-top"></a>
                 </li>
                 <li class="page-scroll">
                    <a href="#about">About</a>
                 </li>
                 <li class="page-scroll">
                    <a href="#philosophy">Philosophy</a>
                 </li>
                 <li class="page-scroll">
                    <a href="#machinelearning">Machine_Learning</a>
                 </li>
                 <li class="page-scroll">
                    <a href="#photography">Photography</a>
                 </li>
              </ul>
           </div>
           <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
      <!-- Header -->
      <header>
        <div class="container">
           <div class="row">
              <div class="col-lg-12">
                 <img id="profile" class="img-responsive" src="img/profile.jpg" alt="">
                 <div class="intro-text">
                    <span class="name">Hey there! I am Jason Hu!</span>
                    <div class="strike">
                       <span>
                       <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                       </span>
                    </div>
                    <span class="skills">Philosophy - Machine Learning - Photography
                    </span>
                 </div>
              </div>
           </div>
        </div>
      </header>
      <!-- About Me -->
      <section class="success parallax-window" id="about" data-parallax="scroll" data-image-src="img/uwc.jpg">
        <div class="container">
           <div class="row" style="margin-top:20px">
              <div class="col-lg-12 text-center">
                 <h2>About</h2>
                 <div class="strike">
                    <span>
                    <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                    </span>
                 </div>
              </div>
           </div>
           <div class="row" style="margin-bottom:20px">
              <div class="col-lg-4 col-lg-offset-2">
                 <p>Born and raised in China until 17. 
                    </br>Studied in Norway for 2 years. </br>Now at Luther College, United States.
                 </p>
              </div>
              <div class="col-lg-4">
                 <p>Rock climbing.
                    </br>Ballroom.</br>Should go to gym more.
                 </p>
              </div>
              <div class="col-lg-8 col-lg-offset-2 text-center">
                 <!-- <a href="#" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Theme
                    </a> -->
              </div>
           </div>
        </div>
      </section>
      <!-- Philosophy -->
      <section id="philosophy"></section>
      <!-- Machine Learning -->
	  <section id="machinelearning">
        <!--section id="machinelearning"-->
           <div class="container">
              <div class="row">
                 <div class="col-lg-12 text-center">
                    <h2>Machine Learning</h2>
                    <div class="strike">
                       <span>
                       <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                       </span>
                    </div>
                 </div>
              </div>
              <span class="section-intro">Machine Learning will be my career.
              </br>Imagine a world where intelligence is not a scarce resource. </br>Human will have no place in it.</br>Unless you are the creator.
              </span>
              <div class="row" style="margin-top:20px; height:700px; position:relative;">
                 <div id="animation-box">
                    <div ng-controller="AppCtrl" ng-cloak>
                       <md-content id="mlbutton">
                          <h1>t-SNE on Word Embeddings</h1>
                          <p>This is a machine learning demo that runs in your browser.
                             </br>Words with similar meanings are displayed together.</br>Model is trained with neural network, displayed with t-SNE.
                          </p>
                          <p>Try scrolling and dragging.</p>
                          <!--section> <layout="row" layout-sm="column" layout-align="center center" layout-wrap-->
                          <md-button class="md-raised md-primary" id="RunDemo" ng-disabled="demoisDisabled" ng-click="rundemo();disabledemoButton();fadeout();">Run Demo</md-button>
                          <!--/section-->
                       </md-content>
                    </div>
                    <div id="embed"></div>
                    <span id="cost"></span>
                 </div>
                 <div id="pause-box" class="hidden">
                    <div ng-controller="AppCtrl" ng-cloat>
                       <md-content id="resumebutton">
                          <h1>This demo is paused</h1>
                          <md-button class="md-raised md-primary" id="RunDemo" ng-disabled="continueisDisabled" ng-click="fadeout();disablecontinueButton();continue();">Continue</md-button>
                       </md-content>
                    </div>
                 </div>
              </div>
           </div>
        <!--/section-->
	  </section>
      <!-- Photographer -->
      <section id="photography"></section>
      <!-- Contact Section -->
      <!-- Footer -->
      <footer class="text-center"></footer>
      <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
      <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
         <a class="btn btn-primary" href="#page-top">
         <i class="fa fa-chevron-up"></i>
         </a>
      </div>
      <!-- Portfolio Modals -->
      <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                  <div class="rl"></div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="modal-body">
                        <h2>Photography</h2>
                        <div class="strike">
                           <span>
                           <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                           </span>
                        </div>
                        <img src="img/portfolio/mom_high.jpg" class="img-responsive img-centered" alt="">
                        <p>My mom and my dog. In Suzhou.                                
                        </p>
                        <ul class="list-inline item-details">
                           <li>
                              Camera and lens: <strong>Canon 70D 18-135mm f/3.5-5.6 IS STM</strong>
                           </li>
                           </br>
                           <li>
                              Settings: <strong>ISO 100 22mm f/3.5 1/125</strong>
                           </li>
                           </br>
                           <li>
                              Date:
                              <strong>2015-7-15</strong>
                           </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                        Close
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                  <div class="rl"></div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="modal-body">
                        <h2>Photography</h2>
                        <div class="strike">
                           <span>
                           <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                           </span>
                        </div>
                        <img src="img/portfolio/Noah_high.jpg" class="img-responsive img-centered" alt="">
                        <p>Noah eating beef jerky. Visibly sad when there is none left.
                        </p>
                        <ul class="list-inline item-details">
                           <li>
                              Camera and lens: <strong>Canon 70D 50mm f/1.8 II</strong>
                           </li>
                           </br>
                           <li>
                              Settings: <strong>ISO 500 50mm f/1.8 1/200</strong>
                           </li>
                           </br>
                           <li>
                              Date:
                              <strong>2015-9-2</strong>
                           </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                        Close
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                  <div class="rl"></div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="modal-body">
                        <h2>Photography</h2>
                        <div class="strike">
                           <span>
                           <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                           </span>
                        </div>
                        <img src="img/portfolio/niece_high.jpg" class="img-responsive img-centered" alt="">
                        <p>My niece.                            
                        </p>
                        <ul class="list-inline item-details">
                           <li>
                              Camera and lens: <strong>Canon 70D 50mm f/1.8 II</strong>
                           </li>
                           </br>
                           <li>
                              Settings: <strong>ISO 1000 50mm f/4 1/800</strong>
                           </li>
                           </br>
                           <li>
                              Date:
                              <strong>2015-7-15</strong>
                           </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                        Close
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                  <div class="rl"></div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="modal-body">
                        <h2>Photography</h2>
                        <div class="strike">
                           <span>
                           <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                           </span>
                        </div>
                        <img src="img/portfolio/summer_high.jpg" class="img-responsive img-centered" alt="">
                        <p>Summer dusk in Suzhou. Much hotter than you think.                            
                        </p>
                        <ul class="list-inline item-details">
                           <li>
                              Camera and lens: <strong>Canon 70D 18-135mm f/3.5-5.6 IS STM</strong>
                           </li>
                           </br>
                           <li>
                              Settings: <strong>ISO 1600 35mm f/4.5 1/30</strong>
                           </li>
                           </br>
                           <li>
                              Date:
                              <strong>2015-6-10</strong>
                           </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                        Close
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                  <div class="rl"></div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="modal-body">
                        <h2>photography</h2>
                        <div class="strike">
                           <span>
                           <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                           </span>
                        </div>
                        <img src="img/portfolio/ballroom_high.jpg" class="img-responsive img-centered" alt="">
                        <p>Cody and Berit. Lovely dress.
                        </p>
                        <ul class="list-inline item-details">
                           <li>
                              Camera and lens: <strong>Canon 6D 24-105mm f/4L IS</strong>
                           </li>
                           </br>
                           <li>
                              Settings: <strong>ISO 5000 88mm f/4 1/100</strong>
                           </li>
                           </br>
                           <li>
                              Date:
                              <strong>2015-10-25</strong>
                           </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                        Close
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                  <div class="rl"></div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="modal-body">
                        <h2>photography</h2>
                        <div class="strike">
                           <span>
                           <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                           </span>
                        </div>
                        <img src="img/portfolio/yunnan_high.jpg" class="img-responsive img-centered" alt="">
                        <p>Girl at a market in YunNan, south-west corner of China.
                        </p>
                        <ul class="list-inline item-details">
                           <li>
                              Camera and lens: <strong>Canon 70D 50mm f/1.8 II</strong>
                           </li>
                           </br>
                           <li>
                              Settings: <strong>ISO 400 50mm f/1.8 1/1250</strong>
                           </li>
                           </br>
                           <li>
                              Date:
                              <strong>2014-9-13</strong>
                           </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                        Close   
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
	  

	  
      <!-- jQuery -->
      <script src="vendor/jquery/jquery.min.js"></script>
	  
      <script type="text/javascript">
      jQuery(document).ready(function(){
          jQuery("#philosophy").load("assets/philosophy.html");
          jQuery("#photography").load("assets/photography.html");
          jQuery("footer").load("assets/footer.html");
      });
      </script>
	  
      <!-- Bootstrap Core JavaScript -->
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
      <!-- Plugin JavaScript -->
      <script src="js/jquery.easing.min.js"></script>
      <!-- Theme JavaScript -->
      <script src="js/freelancer.min.js"></script>
      <!-- smoothState -->
      <script src="js/jQuery.smoothState.min.js"></script>
      <!-- Machine Learning JavaScript -->
      <script src="vendor/d3/d3.min.js"></script>
      <script src="js/tsne.js"></script>
      <!-- Angular Material requires Angular.js Libraries -->
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
      <!-- Angular Material Library -->
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
      <!-- Machine Learning Demo code -->
      <script src="js/machine-learning.js"></script>
      <!-- Parallax.js -->
      <script src="vendor/parallax.js-1.4.2/parallax.min.js"></script>
      <!-- Timeline JavaScript -->
      <script src="js/app-20170226.min.js"></script>
      <!-- Additional JavaScript -->
      <script src="js/additional.js"></script>


   </body>
</html>
